@import "../../styles/app";

.icon-list {
  margin-top: $spacer;
}

.icon-list-item {
  height: 32px;
  font-size: 14px;
  line-height: 32px;

  > a {
    color: var(--v-greyMedium-base);
    text-decoration: none;

    &:hover {
      color: var(--v-greyMedium-base);
      text-decoration: none;
    }
  }

  .glyphicon,
  .fa,
  .fi {
    width: 32px;
    margin-right: 10px;
  }

  &:hover {
    .glyphicon,
    .fa,
    .fi {
      font-size: 28px;
      top: 2px;
    }

    .fa,
    .fi {
      vertical-align: -5px;
    }

    .glyphicon {
      vertical-align: -6px;
    }
  }
}
h2 {
  background: #686868;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 2px 1px;
  font-size: 70px;
}
.set-text-shadow {
  background: #686868;
  -webkit-background-clip: text;
  background-clip: text;
  text-shadow: rgba(255, 255, 255, 0.5) 1px 2px 1px;
  color: transparent;
  font-family: "Kanit", sans-serif;
  font-size: 20px;
}
.set-shadow {
  border-radius: 10px;
  background: #f6f7ff;
  box-shadow: 2px 2px 10px #76777a, -2px -2px 10px #ffffff;
}

.material-table {
  background-color: transparent !important;
  div.v-data-table__wrapper {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    table {
      thead tr th {
        background-color: #2962FF;
        font-family: "Sarabun", sans-serif;
        font-size: 16px;
        font-weight: 500;
      }
      tbody tr td {
        font-family: "Sarabun", sans-serif;
        height: 58px;
      }
    }
  }
  .v-data-footer {
    font-size: $fs-medium;
  }
  &.theme--dark {
    .v-data-table__wrapper {
      table {
        thead tr th {
          font-family: "Sarabun", sans-serif;
          color: #fff !important;
        }
      }
    }
  }
}
